{{#unless value.hidden}}
<div class="checkbox">
  {{#if value.checked}}
    <label><input id="{{id}}" type="checkbox" value="0" {{value.checked}}>{{label}}</label>
  {{else}}
    <label><input id="{{id}}" type="checkbox" value="1" {{value.checked}}>{{label}}</label>
  {{/if}}
</div>
{{/unless}}
