<table class="table">
  <thead>
    <tr>
      <th>من </th>
      <th>الي </th>
      <th>فئة انتاجية </th>
      <th>قطاع العميل</th>
      <th>قيمة العمولة</th>
    </tr>
  </thead>
  <tbody>
    {{#each commissions_per_rule }}
      <tr data-id= {{id}}>
        <td>{{rule.latency_from}}</td>
        <td>{{rule.latency_to}}</td>
        <td>{{rule.product_category.name}}</td>
        <td>{{rule.customer_segment.name}}</td>
        <td>{{value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
