<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2 class="pull-left flip"><i class="glyphicon glyphicon-edit"></i> <span id="page-title">{{title}}</span></h2>
      </div>
      <div class="box-content">
        <form role="form" class="form-horizontal">
          {{> input id="latency_from" value=fields.latency_from label="من" isReadOnly=isRead}}
          {{> input id="latency_to" value=fields.latency_to label="الي" isReadOnly=isRead}}
          {{> input id="commission_base" value=fields.commission_base label="وعاء العمولة" isReadOnly=isRead}}
          {{> select2 id="product_category_id" value=fields.product_category_id label="الفئة الانتاجية"
           isReadOnly=isRead}}
          {{> select2 id="customer_segment_id" value=fields.customer_segment_id label="القطاع"
           isReadOnly=isRead}}
          {{> input id="commission_value" value=fields.commission_value label="قيمة العمولة" isReadOnly=isRead}}

          {{> select id="percentage_or_amount" value=fields.percentage_or_amount label="نسبة او مبلغ ثابت"
           isReadOnly=isRead}}

          {{#if isCreate}}
            <button id="btn-create" class="btn btn-default">تأكيد </button>
          {{/if}}
          {{#if isEdit}}
            <button id="btn-save" class="btn btn-default">حفظ </button>
          {{/if}}
          {{#if isRead}}
            <button id="btn-edit" class="btn btn-default">تعديل </button>
          {{/if}}
        </form>

        {{#if error}}
          <div class="alert alert-danger">
            {{error}}
          </div>
        {{/if}}

      </div>
    </div>
  </div>

</div>
<!--/row-->
