<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well" data-original-title="">
				<h2 class="pull-left flip">
					<i class ="glyphicon glyphicon-edit"><span id="page-title">{{title}}</span></i>
				</h2>
			</div>
			<div class="box-content">
				<form role="form" class="form-horizontal">
					{{> input id="name" value=fields.name label="اسم القطاع" isReadOnly=isRead}}
					{{#if isCreate}}
						<button id="btn-create" class="btn btn-default">تأكيد </button>
					{{/if}}
					{{#if isEdit}}
						<button id="btn-save" class="btn btn-default">حفظ </button>
					{{/if}}
					{{#if isRead}}
						<button id="btn-edit" class="btn btn-default">تعديل </button>
					{{/if}}
				</form>

				{{#if error}}
					<div class="alert alert-danger">
						{{error}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
