{{#isAgent}}

  <div class="row">

    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-header well">
          <h2 class="pull-left flip"><i class="glyphicon glyphicon-list-alt"></i> البحث عن فاتورة</h2>


        </div>
        <div class="box-content">
          <table class="table" id='agent-invoices'>
            <thead>
              <tr>
                <th>العميل </th>
                <th>رقم الفاتورة </th>
                <th>التاريخ</th>
                <th>الاجمالي </th>
                <th>تاريخ اخر تعديل </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

    </div>
  </div>

{{/isAgent}}


{{#forbidAccessTo 'agent'}}
  <div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
        <i class="glyphicon glyphicon-user blue"></i>

        <div>Total Members</div>
        <div>507</div>
        <span class="notification">6</span>
      </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
        <i class="glyphicon glyphicon-star green"></i>

        <div>Pro Members</div>
        <div>228</div>
        <span class="notification green">4</span>
      </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
        <i class="glyphicon glyphicon-shopping-cart yellow"></i>

        <div>Sales</div>
        <div>$13320</div>
        <span class="notification yellow">$34</span>
      </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
        <i class="glyphicon glyphicon-envelope red"></i>

        <div>Messages</div>
        <div>25</div>
        <span class="notification red">12</span>
      </a>
    </div>
  </div>


  <div class="row">

    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-header well">
          <h2 class="pull-left flip"><i class="glyphicon glyphicon-list-alt"></i> Chart with points</h2>

          <div class="box-icon pull-right flip">
            <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
        <div class="box-content">
          <div id="sincos" class="center" style="height:300px"></div>
          <p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="box col-md-6">
      <div class="box-inner">
        <div class="box-header well" data-original-title="">
          <h2 class="pull-left flip"><i class="glyphicon glyphicon-list-alt"></i> Pie</h2>

          <div class="box-icon pull-right flip">
            <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
        <div class="box-content">
          <div id="piechart" style="height:300px"></div>
        </div>
      </div>
    </div>



    <div class="box col-md-6">
      <div class="box-inner">
        <div class="box-header well" data-original-title="">
          <h2 class="pull-left flip"><i class="glyphicon glyphicon-list-alt"></i> Donut</h2>

          <div class="box-icon pull-right flip">
            <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
        <div class="box-content">
          <div id="donutchart" style="height: 300px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  {{/forbidAccessTo}}
