<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2 class="pull-left flip"><i class="glyphicon glyphicon-edit"></i>تعديل بيانات المستخدم   </h2>


      </div>
      <div class="box-content">
        <form role="form">
          <div class="form-group">
            <label for="name">اسم المستخدم : </label>
            <input type="text" class="form-control" id="name" required autofocus value= {{name}}>
          </div>
          <div class="form-group">
            <label for="username">اسم المستخدم : </label>
            <input type="text" class="form-control" id="username" required autofocus value= {{username}}>
          </div>
          <div class="form-group">
            <label for="password">كلمة المرور : </label>
            <input type="password" class="form-control" id="password" required value= {{password}}>
          </div>
          <div class="form-group">
            <label for="phone"> رقم التليفون : </label>
            <input type="text" class="form-control" id="phone" required value= {{phone}}>
          </div>
          <div class="form-group">
            <label for="select-role">الدور الوظيفي :</label>
            <select class="form-control" id="select-role">
              <option value="admin">مشرف</option>
              <option value="manager">مدير</option>
              <option value="accountant">محاسب</option>
              <option value="agent">مندوب</option>
            </select>
          </div>

          <button id="btn-save-user" class="btn btn-default">حفظ </button>
        </form>
        <div class="alert alert-danger hide">
          <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
        </div>

      </div>
    </div>
  </div>

</div>
