<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">تعديل المدفوع  </h4>
</div>
<div class="modal-body" >
  <form role="form">
    <div class="form-group">
      <label>المدفوع </label>
      <input type="text" id="amount" value= {{amount}}>
    </div>
  {{#if isCash}}
    <div class="radio">
      <label>
        <input id="cash" type="radio" name="payment_method" value="cash" checked>نقدي 
      </label>
      <label>
        <input id="credit" type="radio" name="payment_method" value="credit">شيك
      </label>
    </div>
  {{else}}
    <div class="radio">
      <label>
        <input id="cash" type="radio" name="payment_method" value="cash">نقدي
      </label>
      <label>
        <input id="credit" type="radio" name="payment_method" value="credit" checked>شيك 
      </label>
    </div>
  {{/if}}
  {{#if isSent}}
    <div class="radio">
      <label>
        <input id="send" type="radio" name="state" value="sent" checked>ارسال 
      </label>
      <label>
        <input id="deposit" type="radio" name="state" value="deposited" >ايداع
      </label>
    </div>
    {{else}}
    <div class="radio">
      <label>
        <input id="send" type="radio" name="state" value="sent">ارسال 
      </label>
      <label>
        <input id="deposit" type="radio" name="state" value="deposited" checked>ايداع
      </label>
    </div>
  {{/if}}
    <div class="form-group">
     <label>الملحوظة : </label>
     <input type="text" id="note" value= {{notes}}>
    </div>
    <div >
     <label>رقم الايداع : </label>
     <input type="text" id="depositnumber" value={{deposit_number}}>
    </div>
  
  {{#if isNotReceived}}
    <div class="radio">
     <label>
      <input id="received" type="radio" name="received_method" value="received" >تم الاستلام 
     </label>
     <label>
      <input id="not-received" type="radio" name="received_method" value="" checked>لم يتم الاستلام 
     </label>
    </div>
 {{else}}
    <div class="radio">
     <label>
      <input id="received" type="radio" name="received_method" value="received" checked >تم الاستلام 
     </label>
     <label>
      <input id="not-received" type="radio" name="received_method" value="" >لم يتم الاستلام 
     </label>
    </div>
  {{/if}}
  </form>
</div>
<div class="modal-footer">
  <div class="alert alert-danger hide">
    <strong>Danger!</strosng> Indicates a dangerous or potentially negative action.
  </div>

  <button id="btn-save-payment" type="button" class="btn btn-default" >تاكيد </button>
        
</div>