{{#unless value.hidden}}
  <div class="form-group">
    <label for="{{id}}" class="control-label col-sm-2">{{label}} : </label>
    <div class="col-sm-10">
      {{#if isReadOnly}}
        {{#if value.isDate}}
          <p class="form-control-static">{{formatDate value.value}}</p>
        {{else}}
          <p class="form-control-static">{{value.value}}</p>
        {{/if}}
      {{else}}
        {{#if value.type}}
          {{#if value.isDate}}
            <input type="{{value.type}}" class="form-control" id="{{id}}" value="{{formatDate value.value}}" autocomplete="off"/>
          {{else}}
            <input type="{{value.type}}" class="form-control" id="{{id}}" value="{{value.value}}" autocomplete="off"/>
          {{/if}}
        {{else}}
          <input type="text" class="form-control" id="{{id}}" value="{{value.value}}"  autocomplete="off"/>
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/unless}}
