<table class="table">
  <thead>
    <tr>
      <th>المنتج </th>
      <th>السعر </th>
      <th>الكمية </th>
    </tr>
  </thead>
  <tbody>
    {{#each lines }}
      <tr data-id= {{id}}>
        <td>{{product.name}}</td>
        <td>{{price}}</td>
        <td>{{quantity}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
