<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><span id= "page-title">{{title}}</span> </h4>
    </div>
    <div class="modal-body">
      <form role="form" id="invoice_line" class="form-horizontal">
        {{> select2 id="product_id" value=fields.product_id label="المنتج" isReadOnly=isRead}}
        {{> input id="price" value=fields.price label="السعر" isReadOnly=isRead}}
        {{> input id="quantity" value=fields.quantity label="الكمية" isReadOnly=isRead}}
      </form>
      {{#if error}}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      {{#if isCreate}}
        <button id="btn-create" type="button" class="btn btn-default">تأكيد </button>
      {{/if}}
      {{#if isEdit}}
        <button id="btn-save" type="button" class="btn btn-default">حفظ </button>
      {{/if}}

    </div>
  </div>
</div>
