<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2 class="pull-left flip"><i class="glyphicon glyphicon-edit"></i> <span id="page-title">{{title}}</span></h2>
      </div>
      <div class="box-content">
        <form id="invoice" role="form" class="form-horizontal">
          {{> select2 id="customer_id" value=fields.customer_id label="العميل" isReadOnly=isRead}}
          {{> select2 id="user_id" value=fields.user_id label="المندوب" isReadOnly=isRead}}
          {{> input id="date" value=fields.date label="التاريخ" isReadOnly=isRead}}
          {{> input id="serial" value=fields.serial label="مسلسل الفاتورة" isReadOnly=isRead}}

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="pill" href="#invoice-lines"> تفاصيل </a></li>
            <li><a data-toggle="pill" href="#payment-list">المدفوعات</a></li>
            <li><a data-toggle="pill" href="#commissions">تفاصيل العمولة</a></li>
          </ul>
          <div class="tab-content">
            <div id="invoice-lines" class="tab-pane fade in active">
              {{#unless isRead}}
                <button type="button" id="btn-add-line" class="btn btn-info" data-toggle="modal" data-target="#popup">اضافة </button>
              {{/unless}}
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>المنتج </th>
                    <th>السعر </th>
                    <th>الكمية </th>
                    <th>الاجمالي </th>
                    <th>العمولة </th>
                    {{#unless isRead}}
                      <th> تعديل </th>
                    {{/unless}}
                  </tr>
                </thead>
                <tbody>
                  {{#each fields.invoice_lines.value }}
                    <tr data-id= {{id}}>
                      <td>{{product.name}}</td>
                      <td>{{price}}</td>
                      <td>{{quantity}}</td>
                      <td>{{sub_total}}</td>
                      <td>{{commission}}</td>
                      {{#unless ../isRead}}
                      <td id="edit-line">
                        <button data-index={{@index}} data-id="{{id}}" type="button" class="btn btn-info btn-edit-line" data-toggle="modal" data-target="#popup">تعديل
                        </button>
                      </td>
                      {{/unless}}
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div id="payment-list" class="tab-pane fade">
              {{#if isRead}}
                {{#unless isPaid}}
                  <button type="button" id="btn-add-payment" class="btn btn-info" data-toggle="modal" data-target="#popup">اضافة </button>
                {{/unless}}
              {{/if}}
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>التاريخ</th>
                    <th>المدفوع </th>
                    <th>نقدي/ شيك </th>
                    <th>ايداع </th>
                    <th>ارسال </th>
                    {{#forbidAccessTo 'agent'}}
                      <th>استلام</th>
                    {{/forbidAccessTo}}
                    {{#limitAccessTo 'admin'}}
                      {{#unless isRead}}
                        <th> تعديل </th>
                      {{/unless}}
                    {{/limitAccessTo}}
                  </tr>
                </thead>
                <tbody>
                  {{#each fields.payments.value}}
                    <tr class="{{paymentRowClass received to_notify}}">
                      <td>{{formatDate date}}</td>
                      <td>{{amount}}</td>
                      <td>{{cashOrCredit cash_or_credit}}</td>
                      <td id="deposit">
                        {{#ifNew state}}
                          <button data-id= {{id}} type="button" class="btn btn-info btn-deposit" data-toggle="modal" data-target="#popup">الايداع</button>
                        {{/ifNew}}
                        {{#ifDeposited state}}
                          <a id="label1" title="note" data-toggle="popover" data-trigger="hover" data-content="{{notes}}  {{deposit_number}}">تم ايداعه</a>
                        {{/ifDeposited}}
                      </td>
                      <td id="send">
                        {{#ifNew state}}
                          <button data-id= {{id}} type="button" class="btn btn-info btn-send" data-toggle="modal" data-target="#popup">ارسال
                          </button>
                        {{/ifNew}}
                        {{#ifSent state}}
                          <a id="label2" title="note" data-toggle="popover" data-trigger="hover" data-content="{{notes}} ">تم ارساله</a>
                        {{/ifSent}}
                      </td>
                      {{#forbidAccessTo 'agent'}}
                        <td id="received">
                          {{#ifReceived received}}
                            <label id="label2">تم استلامه</label>
                          {{else}}
                            <button type="button" data-id= {{id}} class="btn btn-info btn-received">استلام</button>
                          {{/ifReceived}}
                        </td>
                      {{/forbidAccessTo}}
                      {{#limitAccessTo 'admin'}}
                        {{#unless ../isRead}}
                          <td id="edit">
                            <button data-index="{{@index}}" data-id="{{id}}" type="button" class="btn btn-info btn-edit-payment" data-toggle="modal" data-target="#popup">تعديل
                            </button>
                          </td>
                        {{/unless}}
                      {{/limitAccessTo}}
                    </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>

            <div id="commissions" class='tab-pane fade'>
              {{{fields.commissions_details.value}}}
            </div>
          </div>

          {{#if isCreate}}
            <button id="btn-create" class="btn btn-default">تأكيد </button>
          {{/if}}
          {{#if isEdit}}
            <button id="btn-save" class="btn btn-default">حفظ </button>
          {{/if}}
          {{#if isRead}}
            {{#forbidAccessTo 'agent'}}
              <button id="btn-edit" class="btn btn-default">تعديل </button>
            {{/forbidAccessTo}}
          {{/if}}

        </form>
        {{#if error}}
          <div class="alert alert-danger">
            {{error}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
