<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2 class="pull-left flip"><i class="glyphicon glyphicon-edit"></i> <span id="page-title">{{title}}</span></h2>
      </div>
      <div class="box-content">
        <div id="import">استيراد</div>

        <div class="row">
          <div class="col-lg-10">
            <label>ابحث:
              <input type="search" class="search" value="{{search_value}}">
            </label>
          </div>

          <div class="col-lg-2">
            <label>أظهر مُدخلات
              <select name="length" class="length">
                {{#each length_options}}
                  <option value="{{value}}" {{#if is_selected}} selected {{/if}}>{{name}}</option>
                {{/each}}
              </select>
            </label>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              {{#each columns }}
                <th data-index="{{@index}}" ordering="{{ordering}}">{{label}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each objects }}
              <tr data-id="{{id}}" class="{{className}}">
                {{#each ../columns }}
                  <td>{{callWith value ..}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>

        <div class="row">
          <div class="col-lg-9">
            <a class="btn previous {{#if is_first_page}} disabled {{/if}}">السابق</a>
            <span>
              {{#each pages}}
                <a class="btn page-index {{#if disabled}} disabled {{/if}} {{#if current}} btn-primary {{/if}}" data-index="{{value}}">{{value}}</a>
              {{/each}}
            </span>
            <a class="btn next {{#if is_last_page}} disabled {{/if}}">التالي</a>
          </div>
          <div class="col-lg-3">اظهار {{start_value}} الي {{end_value}} من اصل {{total_value}} مدخل</div>
        </div>

      </div>
    </div>
  </div>

</div>
<!--/row-->
