<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{title}} </h4>
    </div>
    <div class="modal-body">
      <form role="form" id="payment" class="form-horizontal">
        {{> input id="amount" value=fields.amount label="المبلغ" isReadOnly=isRead}}
        {{> select id="cash_or_credit" value=fields.cash_or_credit label="نقدي ام شيك" isReadOnly=isRead}}
        {{> input id="due_date" value=fields.due_date label="تاريخ الاستحقاق" isReadOnly=isRead}}
        {{> select id="state" value=fields.state label="الحالة" isReadOnly=isRead}}
        {{> input id="deposit_number" value=fields.deposit_number label="رقم وثيقة الايداع" isReadOnly=isRead}}
        {{> input id="notes" value=fields.notes label="ملاحظات" isReadOnly=isRead}}
        {{> checkbox id="received" value=fields.received label="تم الاستلام" isReadOnly=isRead}}
        {{> checkbox id="non_commissionable" value=fields.non_commissionable label="غير خاضع للعمولة" isReadOnly=isRead}}
      </form>
      {{#if error}}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      {{#if isCreate}}
        <button id="btn-create" type="button" class="btn btn-default">تأكيد </button>
      {{/if}}
      {{#if isEdit}}
        <button id="btn-save" type="button" class="btn btn-default">حفظ </button>
      {{/if}}

    </div>
  </div>
</div>
