{{#unless value.hidden}}
  <div class="form-group">
    <label for="{{id}}" class="control-label col-sm-2">{{label}} : </label>
    <div class="col-sm-10">
      {{#if isReadOnly}}
        <p class="form-control-static">{{value.name}}</p>
      {{else}}
        <!-- <select class="form-control" id="{{id}}">
        <option value= {{value.value}}>{{value.name}}</option>
        {{#each value.options}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
      </select> -->

        <div class="select">
          <div class="row">
            <i class="glyphicon glyphicon-chevron-down"></i>
            <div class="col-sm-11">
              <input type="text" value="{{value.query}}" class="form-control select-search" data-name="{{id}}"></input>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-11">
              <div class="form-control select-elements {{#if value.focus}} active {{/if}}">
                {{#each value.options}}
                  <div data-value='{{id}}' data-name="{{../id}}" class="option">{{name}}</div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>


      {{/if}}
    </div>
  </div>
{{/unless}}
