{{#unless value.hidden}}
<div class="form-group">
  <label for="{{id}}" class="control-label col-sm-2">{{label}} : </label>
  <div class="col-sm-10">
    {{#if isReadOnly}}
      <p class="form-control-static">{{value.name}}</p>
    {{else}}
      <select class="form-control" id="{{id}}">
        <option value= {{value.value}}>{{value.name}}</option>
        {{#each value.options}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
      </select>
    {{/if}}
  </div>
</div>
{{/unless}}
