<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{title}} </h4>
    </div>
    <div class="modal-body">
      <form role="form" id="deposit" class="form-horizontal">
        {{> input id="notes" value=fields.notes label="ملاحظات" isReadOnly=isRead}}
      </form>
      {{#if error}}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      {{#if isCreate}}
        <button id="btn-create" type="button" class="btn btn-default">تأكيد </button>
      {{/if}}
      {{#if isEdit}}
        <button id="btn-save" type="button" class="btn btn-default">حفظ </button>
      {{/if}}

    </div>
  </div>
</div>
