th {
  background-repeat: no-repeat;
  background-position: center right;
  padding: 10px 18px !important;
  border-bottom: 1px solid #111 !important;
  cursor: pointer;
}

th[ordering="both"]  {
    background-image: url("../images/sort_both.png");
}

th[ordering="desc"]  {
    background-image: url("../images/sort_desc.png");
}

th[ordering="asc"]  {
    background-image: url("../images/sort_asc.png");
}
th[ordering="none"] {
  cursor: default;
}
