.glyphicon-chevron-down{
  top: 12px;
}
.select-elements {
  height: auto;
  padding: 0;
  margin: 2px 0 0 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
}
.select-elements .option{
  cursor: pointer;
  overflow: hidden;
  padding: 3px 12px;
  box-sizing: border-box;
}
.select-elements .option:hover {
  background-color: #F0FFFF;
}
.select-elements.active {
  display: block;
}
